[2017-02-10 06:47] myinnos opened #1 "Not showing any devices!"
Project is Interesting! I started working on this.

These are steps i did as of now
**1**. Pulled **Android project-rome** from [HERE](https://github.com/Microsoft/project-rome/tree/master/Project%20Rome%20for%20Android%20(preview%20release)/sample)
**2**. Created app called **romanapp** in [Developer Account](https://apps.dev.microsoft.com)
**3**. Replaced **CLIENT_ID** with My CLIENT_ID [HERE #2

[2017-02-11 00:46] darkorm commented on #1
First things to check:

Is the Windows 10 pc you are discovering on the 1607 release or newer? (Settings App -> System -> About)

Is the account signed in to the PC associated with the same MSA account used on the Android device? (Settings App -> Accounts -> Email & app accounts)

[2017-02-11 18:16] myinnos commented on #1
Perfect 👍 Loved It! But Login flow is Webview 👎 Need SDK for login flow!

[2017-02-11 19:07] myinnos opened #2 "REMOTE_SYSTEM_UNAVAILABLE error"
Its working well but, Sometimes log shows REMOTE_SYSTEM_UNAVAILABLE when am trying to launch **URL**

_**Note:**_
Both **Mobile** and **DESKTOP** have good internet connection

[2017-02-15 05:38] myinnos opened #3 "License!"
Can i use this project personally?

Am planning to do Open source project using

[code]

The project is like accessing PC browser through Android app
Example : opining [www.bing.com](www.bing.com) from App

[2017-02-16 11:17] myinnos commented on #3
Assigned as a `question`,  But who will answer this `question` ?

[2017-02-16 17:15] cmknox commented on #3
Apologies for the delay.  I'm working with our attorney to get an answer to your question.  Should be today.  I appreciate your patience.

On Feb 16, 2017, at 3:17 AM, Prabhakar Thota <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned as a question, But who will answer this question ?

—
You are receiving this because you are subscribed to this thread.
Reply to this email

[2017-02-17 04:34] myinnos commented on #3
Thanks you! Please Let me know as soon as **possible** 👍

[2017-02-21 19:32] cmknox commented on #3
Thanks for your patience.

We are using the MIT license for the binaries hosted on Bintray.  The MIT license is a broad license which allows the user to use the software in any manner as long as they comply with the terms (personal or commercial).

[2017-02-22 00:11] cmknox commented on #1
Thanks for the feedback!

[2017-02-22 00:11] #1 closed

[2017-02-22 04:34] myinnos commented on #3
WOW! [MIT License](https://opensource.org/licenses/MIT)

 Thank you! I can use this [project ](https://github.com/Microsoft/project-rome/tree/master/Project%20Rome%20for%20Android%20(preview%20release)/sample) now

I am going to do one open source project along with  **play store**(not for commercial purpose) app!

Hope am exception more features from [this](https://github.com/Microsoft/project-ro

[2017-02-22 05:05] cmknox commented on #3
Sounds great, we are excited to see your app using our platform.  Keep the feedback coming!

[2017-02-22 05:05] #3 closed

[2017-03-06 22:49] cmknox commented on #2
Please let us know if you are still having issues.

[2017-03-06 22:49] #2 closed

[2017-03-10 23:40] cansado2930 opened #4 "fail the installation of nuget package on xamarin.android"
Hello,
I have downloaded sample Project of Xamarin Android and I can't compile it. I have checked nuget packages and the package isn't installed. So I have tried to install it but It launchs an error. I get the same error if I try to install the nuget package on my Xamarin.Android app. The error is this:

Best regards

[2017-03-11 07:35] sphenry commented on #4
Both the nuget package and the VS project target version 6.0 of Xamarin. What version do you have installed? You can check and update from Visual Studio menu Tools->Options->Xamarin

[2017-03-11 16:39] cansado2930 commented on #4
Hi @sphenry
In theory, Xamarin is up to day, there aren't more updates in stable channel. Versions are:
Visual Studio Enterprise 2015 14.0.25431.01 Update 3
Xamarin: 4.3.0.784 (73f58d6)
Xamarin.Android 7.1.0.41 (9578cdc)
What should I check more?
Thanks

[2017-03-11 20:31] sphenry commented on #4
That's the latest version of Xamarin, and is the same version I am using. I am on VS 2017, though. Can you also check the Project->Properties are also set to the latest version?

[2017-03-12 09:28] cansado2930 commented on #4
Ok, In order to reduce all differences, I have installed VS 2017 community on other computer and I can install the nuget package with Android 7.1. Android 7.0/6.0 launchs error. My app uses Android 19 (4.4.2) so it launchs error too. And the case of Android 7.1, I can't compile the sample app because it fires the following error:

[2017-03-13 16:33] sphenry commented on #4
As checked in, the sample app depends on the library being built and referenced from the same directory structure. I think the error you're getting is because the library path cannot be resolved (either because it hasn't been built, or can't be found). You should be able to either:
1. Build the ConnectedDevices.Xamarin.Droid and ConnectedDevices.Xamarin.Droid.Core projects
2. Remove the reference

[2017-03-14 11:32] delfinof opened #5 "X86 support"
Hi
It would be great if you can add support for x86, so that we can test the app in the visual studio android emulator.

Thanks

[2017-03-14 17:59] cmknox commented on #5
Thank you for the feedback.  This is definitely and item on our backlog.  It's good to know that it's something people want!

[2017-03-14 17:59] #5 closed

[2017-03-14 19:42] delfinof opened #6 "libgnustl_shared.so conflicts with Spotify SDK"
The version of the libgnustl_shared.so is in conflict with the one shipped by the Spotify SDK, available here;
      https://github.com/spotify/android-sdk/releases/tag/24-noconnect-2.20b

Since yours size is 5MB vs 1MB Spotify's version, my guess is that they are stripping something: while giving priority to your version seems to allow Spotify SDK to work correctly, the other way round makes the

[2017-03-18 17:40] cansado2930 commented on #4
Sorry by answer you later, I haven't been able to check it between week
If I compile both library project and I link them to xamarin sample, it compiles with different versions. So thanks you. I have tried to try sample app but it doesn't work. I'm going to search what is the reason.
If there are some problem, I will notify you.
Thanks for your time.

[2017-03-22 16:55] cmknox commented on #6
Thanks for the feedback.  I've added this as a potential enhancement for a future release.

[2017-03-22 17:02] cmknox commented on #4
@cansado2930, Have you been able to make any progress on this?

[2017-03-22 21:14] cansado2930 commented on #4
Yes, I have a few of progress. Sample Xamarin app doesn't work. I have discover that the problem is in the webview where user sign in with MS account. I have build the Android app in order to know if there is some problem with Xamarin app but it has the same behaviour. On sample Android app shows an error message "error ocurred: invalid_request"
And I have changed the appilicationid on both projec

[2017-03-24 12:47] pnp0a03 opened #7 "Fails to build ConnectedDevices.Xamarin.Droid"
Hi,
I could not build the ConnectedDevices.Xamarin.Droid with following errors.
Do you have any clue for build it?
...If the latest binaries are uploaded as nuget, it helps me too :)

Source:  https://github.com/Microsoft/project-rome/commit/8960cb13c0508accde90e222f4b2a3a04b099565
Tools: Visual Studio 2017 Enterprise 26228.9
[code]

[2017-03-27 17:09] anpea commented on #7
Hi,

This looks to be a issue that has now been resolved; a mismatch in our internal API call. Make sure you have the latest version of our Xamarin deployment (0.2.0) and let us know if this issue still persists.

Thanks

[2017-03-27 22:33] pnp0a03 commented on #7
I could succeeded to build the sample app with new 0.2.0 nuget package. Thank you!
[Microsoft.ConnectedDevices.Xamarin.Droid 0.2.0 ](https://www.nuget.org/packages/Microsoft.ConnectedDevices.Xamarin.Droid/)
..But I'm faced in another runtime exception and It fails to get the list of remote devices :) I'll open new issue for the one.

[2017-03-27 22:33] #7 closed

[2017-04-03 17:06] #6 closed

[2017-04-10 16:34] mghiasi75 commented on #4
I had same issues on VS2017.
with Android SDK v6, Visual Studio can't get the NuGet package at all.

Then I changed SDK version to v7.1, this time build failed with this error:

I noticed the PathTooLongException error, so I moved the folder of project to somewhere nearer to the root of drive, and it compiled successfully this time.

**TL;DR** There's a bug with NuGet package of this project with

[2017-04-10 21:12] cansado2930 commented on #4
nuget package requires as @mghiasi75 have said SDK 7.1. I could compile it to SDK 6 from Project from here. A question, have you been able to use it? I tried the sample app and it shows me an error about a Request on a real device. These days I will download the new commits in order to try it again because I would like to implement it on production.

[2017-04-11 10:24] mghiasi75 commented on #4
@cansado2930 What error did you get? I opened the sample project, installed NuGet package, and deployed it to a device running Android 5.1 and it worked fine. I was able to sign in and launch a Uri from the Android device to my PC and my Windows phone.

[2017-04-11 22:38] cansado2930 commented on #4
When I compiled it 24 days ago, it launched an error About the url of login. "error Request" when I tried to do login. I have downloaded the last commit and now I can't compile "ConnectedDevices.Xamarin.Droid" :( I have attached a screenshot about errors that it shows.
![captura](https://cloud.githubusercontent.com/assets/13149034/24933703/f962a188-1f17-11e7-8ded-691988d35786.PNG)

[2017-04-12 22:17] sphenry commented on #4
@cansado2930 Can you show the full output from the error log?

[2017-04-13 15:28] cansado2930 commented on #4
This is the output:

1>  ConnectedDevices.Xamarin.Droid.Core -> C:\proyecto\project-rome-master\xamarin\src\ConnectedDevices.Xamarin.Droid.Core\bin\Release\Microsoft.ConnectedDevices.Xamarin.Droid.Core.dll
2>------ Operación Recompilar todo iniciada: proyecto: ConnectedDevices.Xamarin.Droid, configuración: Release Any CPU ------
2>BINDINGSGENERATOR : warning BG8A04: <attr path="/api/package[@name=

[2017-04-13 18:25] sphenry commented on #4
@cansado2930 I suspect you have not download the .aar files that need to be bound. You get them by running the download-aar.ps1 in the src directory. Also, I just pushed some updates to change the min version of android required to nuget, so that package should work better for you now

[2017-04-15 08:43] cansado2930 commented on #4
Very thanks @sphenry Yesterday I downloaded the new commit and I can compile the library correctly. I didn't compile sample app but I can compile it in a new app with the library or from nuget package. So I implemented it on my production app. Thanks!!

[2017-05-01 16:37] #4 closed

[2017-05-04 19:06] mghiasi75 opened #8 "Empty android device name shown in other devices."
In Xamarin (Android) sample, after authentication, the android device will appear in devices list in Windows devices with same MSA account (when querying Windows Rome APIs). But it has an **empty** DisplayName.

I'm testing sample on a Nexus 4 running Android 5.1.1.

Is that the expected behavior?

[2017-05-04 19:09] mghiasi75 opened #9 "How to unregister an android device from Rome? (in Xamarin)"
So it won't appear at all when other devices with same MSA try to find user's devices.

[2017-05-10 18:00] ajpeacock0 commented on #8
Android devices are not supported as devices to connect to, and so should be filtered out by the app. This can be done by filtering out RemoteSystemKinds.Unknown.

Future Windows releases will not return Android devices until Android has the capability to be connected to.

[2017-05-10 18:02] ajpeacock0 commented on #9
At the moment there is no way to unregister an android device from Rome. However android devices are not supported as devices to connect to, and so should be filtered out by the app.

[2017-05-10 20:00] mghiasi75 commented on #8
Thanks.

[2017-05-10 20:00] #8 closed

[2017-05-10 20:01] #9 closed

[2017-05-12 13:04] bezysoftware opened #16 "Firebase dynamic links & 3rd party apps for AppUriHandlers"
Is it possible to use AppUriHandlers for Firebase dynamic links? Those links look like this: https://xyz.app.goo.gl/?link=....

The thing is I obviously cannot put any files to the root of https://xyz.app.goo.gl because that's not my domain..

Also 3rd party apps cannot take advantage of AppUriHandlers due to the requirement to have the json file on web root

[2017-05-12 17:14] juanoviedoms commented on #16
Hello,

Does the Firebase dynamic link redirect to a website you own (i.e. a web server that has the JSON file)?

We currently don't support 3rd party apps in AppUriHandlers. You have to own both the website and app to take advantage of the feature at the moment.

Thanks.

[2017-05-12 18:07] bezysoftware commented on #16
It does redirect to a website i own. But it's that going to help me in any way? Once the firebase link gets to the browser, the system won't be able to intercept the redirected uri, right?

[2017-05-12 18:12] bezysoftware commented on #16
And the firebase dynamic link doesn't support addresses such as https://abcd.app.goo.gl/my-json-file (or whatever the name of the file should be), it only support ls query paramaters after the base address

[2017-05-13 16:27] pnp0a03 opened #17 "Xamarin.Droid.Sample : Failed at Platform.InitializeAsync"
Hi,
I've tried to run the xamarin/samples/ConnectedDevices.Xamarin.Droid.Sample.
I could build it and run with my CLIENT_ID. At the first time launch, I've put the my MSA id and pass. But, the app crashed at this point.
It seems that the app crashed at MainActivity.cs, line 63:

`            var result = await Platform.InitializeAsync(this.ApplicationContext, CLIENT_ID);`

I want to debug it but I

[2017-05-14 12:27] bezysoftware commented on #16
Also trying to use https://xyz.app.goo.gl/windows-app-web-link isn't going to work, because that's not a valid address. Google has a custom url shortener, which creates links like http://xyz.app.goo.gl/TxwUY but as far as I know it's an automated process, I cannot tell it to create a link with windows-app-web-link in the url

[2017-05-16 05:52] sphenry commented on #17
Hi @pnp0a03, I've created a new PR that implements the missing methods:
[https://www.nuget.org/packages/Microsoft.ConnectedDevices.Xamarin.Droid/](https://github.com/Microsoft/project-rome/pull/18)
You can try that, or get the Xamarin package from nuget
[https://www.nuget.org/packages/Microsoft.ConnectedDevices.Xamarin.Droid/](https://www.nuget.org/packages/Microsoft.ConnectedDevices.Xamarin.Droid

[2017-05-16 14:14] pnp0a03 commented on #17
Hi sphenry, I could build the Microsoft.ConnectedDevices.Xamarin.Droid 0.4.0 with your PR#18. Thank you !
And, I've noticed - I had always trying to debug it as "Debug" build. But, it seems that .. connecteddevices-sdk-armv7-release.aar is applicable for "Release" build. I had succeeded to run the sample app and enumerate the remote devices with "Release" build. Wao.
Also I had downloaded the debu

[2017-05-16 16:08] cmknox commented on #17
Thanks pnp0a03 for reporting.  I'm glad your issue is resolved.  We have created a bug and are investigating the debug issue.

[2017-05-16 17:46] a-iafrate opened #19 "UnsatisfiedLinkError on xamarin sample"
Hi,

if i launch the xamarin sample i obtain this error, i have tried on emulator and phisical devices with android 6 and 7, all works only on an old Samsung with android 5.1, if i try with other new devices i have this error
Thanks in advance

`java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/ConnectedDevices.Xamarin-1/base.apk"],nativeLibraryDirector

[2017-05-16 23:37] #17 closed

[2017-05-17 08:30] a-iafrate commented on #19
i have compiled the version 0.4.0 of Microsoft.ConnectedDevices.Xamarin.Droid.dll from updated source but the problem is here

[2017-05-17 10:53] AudioW opened #20 "Two Devices won't connect through RemoteSystems"
Hi

I have two devices which I want to have exchanging messages with each other through the RemoteSystems API. I have added the remote capability to the manifest like this:

    <uap3:Capability Name="remoteSystem" />

Then in my ViewModel I set up a RemoteWatcher and attach the added, updated and removed events:

            RemoteSystemAccessStatus accessStatus = await RemoteSystem.RequestAccess

[2017-05-17 14:15] cmknox commented on #19
Thanks a-iafrate.  We've created a bug and are currently investigating.

[2017-05-17 14:22] cmknox commented on #20
AudioW sorry to hear you are having trouble.  I've created a bug to track this issue.  We'll reach out if we need additional information.

[2017-05-17 15:07] AudioW commented on #20
To add: Both devices are running Windows 16193 with the latest SDK. When using the RemoteSystemSession examples from doc.microsoft.com, the Watcher added handler is also not called when I instantiate a RemoteSystemSessionController on Device A and B

[2017-05-17 15:08] AudioW opened #21 "Is is possible to have RemoteSystemSession decentral?"
I am curious if the new RemoteSystemSession is always confined to one 'host' with several 'clients' or is it possible to have the devices share a session, and if one disconnects, the other devices can carry on using the same session.

[2017-05-18 16:31] cmknox commented on #21
Hi AudioW - currently session hosting is confined to a single host.

[2017-05-18 20:55] juanoviedoms commented on #16
Hello,

Sorry for the delay in my response. That is correct, since we don't know where the shortened link points to we don't support AppUriHandlers in that situation.

Correct, it won't work for the 2nd case either. I will look into this and see if there is anything we could do, but at this point we only support direct links to the supported/registered website.

Thanks.

[2017-05-20 11:34] AudioW commented on #20
Fixed: There was no background activated handler in my app.xaml.cs which seems to be required for this to work.

[2017-05-20 11:34] #20 closed

[2017-05-21 21:22] mghiasi75 opened #22 "Unique ID of current device"
Is there any way to find the Unique ID of the current device (the ID which other instances of the app will see in their device list) in UWP?

[2017-05-22 16:43] #21 closed

[2017-05-22 17:35] cmknox commented on #22
Hey mghiasi75 - At this time it is not possible to get the unique ID of the current device.

[2017-05-22 18:09] mghiasi75 commented on #22
@cmknox Is this the case in current version of Android/Xamarin Rome SDK too?

[2017-05-23 00:22] bbowman commented on #19
@a-iafrate Thanks for the report. I was able to reproduce this locally and will look into it.

[2017-05-23 19:32] cmknox commented on #22
@mghiasi75 that is correct.

[2017-05-24 20:04] #19 closed

[2017-05-28 07:43] mghiasi75 commented on #22
Thanks.

[2017-05-28 07:43] #22 closed

[2017-06-19 17:38] bmitchell287 opened #25 "iOS Sample - Need to specify where client id is applied"
In the readme you mention that we'll have to create a registration, but there's no mention of client id placement in the sample (AuthenticationViewController.m). There's also a pre-existing app id bound to the project regardless:

- (NSString*)appId
{
    // Change to your own app's MSA Client ID
    return @"8a284efa-414b-445e-8710-0fabde940942";
}

[2017-06-19 18:28] PatrickFarley commented on #25
I don't see the confusion - users will replace the client ID in the sample with the client ID they get from registering.

However, it might not be a good idea to hard-code an ID into the sample. @cmknox , @ajpeacock0 Thoughts?

[2017-06-19 18:39] bmitchell287 commented on #25
The confusion doesn’t come from replacing the existing ID, it comes from where to put it in the first place. The readme only mentions that you need to register but doesn’t mention the location of the app ID/client ID  (AuthenticationViewController.m), and it’s statically assigned deep in that class.  Maybe a quick note saying it should be applied in that view controller?

From: Patrick Farley [mai

[2017-06-19 18:42] bmitchell287 commented on #25
The confusion doesn’t come from replacing the existing ID, it comes from where to put it in the first place. The readme only mentions that you need to register but doesn’t mention the location of the app ID/client ID  (AuthenticationViewController.m), and it’s statically assigned deep in that class.  Maybe a quick note saying it should be applied in that view controller? Thx.

[2017-06-19 19:34] PatrickFarley commented on #25
Oh I see. I'll get that note added, thanks

[2017-06-19 20:30] bmitchell287 commented on #25
Thanks Patrick.

[2017-06-27 14:27] cinatic opened #26 "Native Windows Applications (WinForms/WPF)"
Hello,

is it possible to register native Window Applications as "devices" with windows components or can i do it with the REST API/graph?

I can see in the graph api that there are "list device" and "send command" calls but it seems that something like "register device" is missing. How am i suppused to register something as a "device"?

Thanks and best regards

[2017-06-27 23:02] #25 closed

[2017-06-27 23:02] #16 closed

[2017-07-17 08:45] mghiasi75 opened #27 "Local account"
When a user uses a local account, Rome APIs does not show any devices. Is there any way to allow user to sign-in in the app (but keep local account, the same way users can login into Groove, Store, etc. in a local account) so Rome APIs work?

[2017-07-17 23:22] cmknox commented on #27
@mghiasi75 you can only use the local account if you connect the MSA to that account.

You can do this on Windows:  Settings -> Accounts -> Email & App accounts -> Accounts used by other apps -> Add a Microsoft account.

If you are attempting a cross user scenario, using the RemoteSystemSession APIs, and there is not a connected MSA, you should be able to discover devices.

[2017-07-18 00:34] mghiasi75 commented on #27
So, how can I detect if there is a MSA connected to account or not? (So if not, show a message to user with instructions)
Currently, the RemoteSystemWatcher just never detects a device if it's a local account.

[2017-07-18 20:28] cmknox commented on #27
The Project Rome APIs do not support this.  However, I believe this is available on Windows using WAM (WebAccountManager APIs).  https://docs.microsoft.com/en-us/uwp/api/windows.security.authentication.web.provider.webaccountmanager

[2017-07-28 18:27] sphenry commented on #26
@cinatic Windows registers devices when the user associates a Microsoft Account with the machine. Once a machine is registered, it can be enumerated using either the native WinRT API or from MS Graph.

Any application (WinForms/WPf/WinForms) can be launched cross-device if it supports a 'scheme' (i.e. via LaunchUri). Only UWP or Desktop Bridge apps can be hosts for AppServices.

[2017-07-31 14:07] cinatic commented on #26
hi @sphenry,

thanks for your response. Sounds good (doesn't work... lol no *scnr*).

1. Is yet every pc added as device when i am logged in or only with latest creators update?
2. I tried it on an updated machine, i logged in and logged also in to graph explorer. then i tried get request for ...beta/me/devices and get a 500 error "unknown error", any idea?
3. Sorry i am bit confused about AppServ

[2017-08-01 06:10] sphenry commented on #26
@cinatic ,
1. Every PC with at least version1607 installed
2. It's hard to say without more details. Did you have the correct OAuth scopes?
3. App Services are a mechanism to do rich communication between app. More info [here](https://docs.microsoft.com/en-us/windows/uwp/launch-resume/communicate-with-a-remote-app-service). For simple communication, you might be able to get by with passing data as

[2017-08-01 14:42] cinatic commented on #26
2. You are right, i need to enable the scopes in the graph explorer

thanks for the information, i think this is an interesting project

[2017-08-01 14:42] #26 closed

[2017-08-18 10:48] revolutionkpi opened #29 "Not correct CDRemoteSystemStatus of discovered devices"
In delefate method
`-(void)remoteSystemDiscoveryManager:(nonnull CDRemoteSystemDiscoveryManager*)discoveryManager didFind:(nonnull CDRemoteSystem*)remoteSystem`

We get a `CDRemoteSystem` device. Its status `CDRemoteSystemStatus` is always `CDRemoteSystemStatusUnknown`. How can I check if device is available for `CDRemoteSystemConnectionRequest`?

[2017-08-18 10:54] revolutionkpi opened #30 "CDRemoteSystemConnectionRequest to device that is connected via cloud return CDRemoteLauncherUriStatusRemoteSystemUnavailable"
`CDRemoteSystemConnectionRequest` to device that is connected via cloud returns status `CDRemoteLauncherUriStatusRemoteSystemUnavailable`. In result request succesfully opens Uri on remove device. How can I detect a success result for `CDRemoteSystemConnectionRequest` in this case?

[2017-08-22 20:46] cmknox commented on #30
@revolutionkpi CDRemoteLauncherUriStatusRemoteSystemUnavailable is the best available information that we provide about the success or failure of the request in this situation. You may be running into a known issue that we have recently fixed.  Expect a new release, containing this fix, soon.

[2017-08-22 20:48] cmknox commented on #29
@revolutionkpi is this the same as issue #30 ?

[2017-08-22 20:49] #27 closed

[2017-08-23 07:17] revolutionkpi commented on #29
Hi, no it is not the same. In this issue I get a list of available CDRemoteSystem systems with wrong status.
In an issue #30 I get wrong result for request when opens Uri on remove device for the first time.

[2017-08-24 21:26] cmknox commented on #29
@revolutionkpi we have identified this issue as a bug.  Thanks so much for reporting.

[2017-08-28 11:31] revolutionkpi opened #31 "Not possible to turn on Xbox"
I would like to propose to implement a new feature in project-rome SDK.
In the scope of main use-cases it is possible to scan for available Xbox devices,  open URI on selected one. But it is not possible to turn on Xbox as it is possible in SmartGlass.
Please take a look on this feature. This would be great to have it in your SDK.

[2017-09-25 21:33] cmknox commented on #30
@revolutionkpi have you had a chance to test out the latest release to see if it fixes this issue?

[2017-09-30 14:39] mghiasi75 opened #32 "Xamarin NuGet 0.6.2 problem"
After updating the Xamarin NuGet package to 0.6.2 (from 0.4.0), I'm getting this warning:

Shouldn't Xamarin package be available on ARM too?

[2017-10-05 23:11] cmknox commented on #32
@mghiasi75 the Xamarin library released is configured for x86 only, but the AAR inside it is built for ARM only. When building an Android app targeting ARM, Visual Studio will complain because it thinks the library is only for x86, but it will work fine deploying to an ARM device.  However, this shouldn't impact your app consuming the library.

[2017-10-06 11:18] mghiasi75 commented on #32
Thanks.

[2017-10-06 11:18] #32 closed

[2017-10-13 12:43] MahdiGhiasi opened #33 "Possible to keep service alive on Android->Windows scenario?"
On Windows to Windows scenario, the app service on the destination device will continue to be alive as long as the source device wants (keeps the connection object alive).

However, on Android to Windows scenario it seems that the app service on the Windows device gets cancelled after ~30 seconds by `SystemPolicy`.

Is there any way to keep the service alive for more time, just like Windows to Win

[2017-10-13 14:50] mghiasi75 opened #34 "Xamarin sample is not working with NuGet package"
I've cloned the repository, opened the Xamarin sample (ConnectedDevices.Xamarin.Droid.Sample), removed the local reference of Project Rome dll (which is missing when you clone the git) and installed it via NuGet package (latest version, 0.6.2).

Now when I run the sample, I get this error: "An unhandled exception occured." with no further explanation.

I'm testing via Visual Studio 2017, on a devi

[2017-10-22 03:27] sphenry commented on #34
The Xamarin sample is working fine for me with VS 2017 and 7.1 SDK, but on a device with Android 7.1.1. Do have access to a device with a more recent version of Android that you can try?

[2017-11-18 22:46] cansado2930 opened #36 "How should I use it on release mode for xamarin forms?"
Hello,
I have Xamarin forms app and It works perfectly on debug mode. But when I build of release mode, I receive a exception of concurrency. I'm using a ConcurrentBag in order to save RemoteSystem but it crashes when add ítems. How should I do it in order to save ítems in a list?
Thank you

[2017-11-21 17:53] cmknox commented on #36
@cansado2930 can you please provide a snippet of your code and where the problem is?

[2017-11-21 23:25] cansado2930 commented on #36
Hi @cmknox
Yes, without problems. This is the code:

As you can see, I call to searchDevices in order to actívate the searcher. The RemoteSystemWatcher_RemoteSystemAdded function, on the line "deviceList.add(args.P0)" is the "problem". On debug mode, as App run slow it Works correctly but when It is built on release mode
then app crash in this line, with a message of concurrency problem that I hav

[2017-11-27 05:42] IoniCStorM opened #37 "What is the compatibility of Project Rome for Android with graddle?"
I was trying with graddle 3.0 and keep failing with error "unable to merge dex". I saw all the samples are using graddle 2.2.0, is there a compatibility issue with Project Rome at the moment? And is there plan to support higher version?

Thanks,

[2017-11-27 20:41] cmknox commented on #37
@IoniCStorM that is correct, currently this project is only supporting gradle 2.2.0.  However, there are plans to support a newer version in a future release.

[2017-11-27 20:43] cmknox commented on #36
@cansado2930 thanks for the reply.  We are currently working on a new release for Xamarin that should address your problem.  Stay tuned for later this week.

[2017-11-27 21:02] IoniCStorM commented on #37
Thanks for the reply, was this documented (or noted) somewhere? If not, it would be nice to add this onto the ReadMe of the Android folder.

[2017-11-27 23:45] cmknox commented on #37
@IoniCStorM You are right, I will get that added, thanks for the feedback.

[2017-11-28 22:24] cmknox commented on #36
@cansado2930 we have released a new Xamarin SDK drop, 0.8.0, can you please give it a try and let me know if it works for you?

[2017-11-29 17:52] cansado2930 commented on #36
Yes, I can. I have updated to 0.8.0 and I have built the reléase versión (because the debug with 0.8. Works correctly) and it crash again. I have attached the console log:

11-29 18:45:18.604 I/CDP     (13130): {"date":"2017-11-29T18:45:18.604","PID":13130,"TID":13406,"message":{ "text":"UserNotificationClient::RegisterUserDeviceWithDds() called for user d5c476cc0fd5a5fd with reason: Startup" },"l

[2017-11-29 19:19] hannespreishuber opened #38 ".NET Standard 2.0"
doenst install the package with VS Project targeting .NET Standard

[2017-11-29 19:37] hannespreishuber commented on #38
hmm works form pm console Install-Package Microsoft.ConnectedDevices.Xamarin.Droid -Version 0.8.0
but not from nuget UI

[2017-12-01 19:46] hannespreishuber opened #39 "Login Company Account"
what to set in https://apps.dev.microsoft.com for using a AD Account
Standard Login URL is https://login.microsoftonline.com/common/oauth2/nativeclient which have not the Option to Switch

[2017-12-01 19:59] cmknox commented on #38
@hannespreishuber thanks for reporting, glad you found a workaround.  I'll create a bug to investigate.

[2017-12-01 20:12] hannespreishuber commented on #39
is it somehow possible to cross the border? Desktop in AD, remote device with MSA diffrent account?
Have read that this feature is planed

[2017-12-01 20:21] hannespreishuber opened #40 "Class not Found Exception"
Unhandled Exception:

Java.Lang.ClassNotFoundException: Didn't find class "md56b4bf6e49f378dfe4b7822922cda6c0f.RemoteSystemDiscoveryListener" on path: DexPathList[[zip file "/data/app/com.project_rome.romecastremote-1/base.apk"],nativeLibraryDirectories=[/data/app/com.project_rome.romecastremote-1/lib/arm, /system/fake-libs, /data/app/com.project_rome.romecastremote-1/base.apk!/lib/armeabi-v7a, /s

[2017-12-07 19:35] cmknox commented on #40
@hannespreishuber sorry for the delay.  which version are you using?  0.8.0?

[2017-12-07 19:36] cmknox commented on #39
@hannespreishuber we don't have support for concurrent accounts at this time, but yes, it is definitely planned.

[2017-12-08 06:46] hannespreishuber commented on #40
yes, 0.8.0 but stopped working on that, so no idea if it is still a problem

[2017-12-31 07:42] AndiFs opened #42 "RemoteSystemWatcher error"
Unhandled Exception:

Java.Lang.UnsatisfiedLinkError: No implementation found for long com.microsoft.connecteddevices.RemoteSystemWatcher.initialize() (tried Java_com_microsoft_connecteddevices_RemoteSystemWatcher_initialize and Java_com_microsoft_connecteddevices_RemoteSystemWatcher_initialize__)

[2017-12-31 08:32] AndiFs opened #43 "Project Rome Xamarin.Android Unbrauchbar"
Project Rome Xamarin.Android Unbrauchbar

useless

[2018-01-02 22:52] miker1423 opened #44 "Gettig SessionLimitsExceeded"
Hello, I've been playing around with the API on the UWP platform, when running on my laptop or tablet, it can create remote sessions and discover other remote sessions, but when running on my phone it doesn't work, when creating a new remote session it always has a RemoteSystemSessionCreationStatus.SessionLimitsExceeded, and even if I create the session from my laptop and my tablet can find it, my

[2018-01-03 21:58] cmknox commented on #40
@hannespreishuber checking in to see what the latest is on this?

[2018-01-03 22:06] cmknox commented on #42
@AndiFs thanks for reporting. I want to make sure you are using the latest version of the Android SDK, v8.0?

[2018-01-03 22:07] cmknox commented on #43
@AndiFs can you please let us know what you're trying to do here?

[2018-01-03 22:08] AndiFs commented on #42
Xamarin.Forms
V8.0 nuget

And tried download nuget and use as source…. So nuget not used

Nothing helps

Did i oversee something in initialization of rome???

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Carmen Forsmann <notifications@github.com>
Gesendet: Wednesday, January 3, 2018 11:06:21 PM
An: Microsoft/project-rome
Cc: A

[2018-01-03 22:09] AndiFs commented on #43
Mmhhh… get Connection to my windows 10 pc( FCU) for remote control over xamarin.forms… and windows mobile for sure lol lol lol

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Carmen Forsmann <notifications@github.com>
Gesendet: Wednesday, January 3, 2018 11:07:44 PM
An: Microsoft/project-rome
Cc: AndiFs; Mention
Betreff: Re: [Mi

[2018-01-03 22:12] AndiFs commented on #43
Login to MS account works okay

But when recognize or init Remove System discoverty always Errors occure!!!!

Nothing help!!!

Android Handy version is V7.0… Samsung galaxy 8 s+ (iPhone not possible and wanted so far…)

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Carmen Forsmann <notifications@github.com>
Gesendet: Wednesday,

[2018-01-03 23:10] cmknox commented on #44
@miker1423 this is by design behavior unfortunately.  The Windows mobile build is running against RS2, where Remote Sessions were disabled.  Remote Sessions were first available in RS3.  At this point, the mobile builds are only getting servicing updates as needed.

[2018-01-05 23:25] cmknox commented on #42
@AndiFs you should be able to use Nuget like you are describing.  Is there a way you could test without using Xamarin.Forms?  We don't officially support that yet, but I'm not sure it matters.

[2018-01-05 23:42] cmknox commented on #43
@AndiFs ok, sorry that this is not working for you.  Ok, so the setup is Android phone to Windows PC using the RemoteSystem APIs for discovery.  You can login with your MSA, but you initialize the platform this error occurs, do I have that right?  And the error is,

Unhandled Exception:
Java.Lang.UnsatisfiedLinkError: No implementation found for long com.microsoft.connecteddevices.RemoteSystemWatc

[2018-01-05 23:45] AndiFs commented on #43
I can log in to my msa without any Errors…. But when discoverty.start is called i get this error…

And no sorry… native Android is no way!!! So xamarin is the way i want to use it

Lg andi

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Carmen Forsmann <notifications@github.com>
Gesendet: Saturday, January 6, 2018 12:42:31 AM
An

[2018-01-06 04:25] miker1423 commented on #44
Great, thanks! And when is the RS3 expected? Or is it the next big update of Windows?

[2018-01-08 18:58] cmknox commented on #43
@AndiFs sorry for the confusion, I'm not suggesting you use Android natively, instead I was recommending we test your scenario without using Xamarin Forms and just use the traditional method of creating cross platform application with Xamarin, similar to this post:  https://forums.xamarin.com/discussion/45765/cross-platform-without-xamarin-forms

Would you be willing to try to see if Xamarin Forms

[2018-01-09 21:56] AndiFs commented on #43
Okay but i’ve enough Troubles with you on other sides and programs ,… i will read through and will try

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
Von: Carmen Forsmann <notifications@github.com>
Gesendet: Monday, January 8, 2018 7:58:33 PM
An: Microsoft/project-rome
Cc: AndiFs; Mention
Betreff: Re: [Microsoft/project-rome] Projec

[2018-01-24 06:42] NicoVermeir commented on #42
I'm seeing the same thing on a native Xamarin Droid project, running on a Galaxy S8 with Android 7.0

[2018-02-18 06:12] shijiong opened #48 "Can't discover Windows 10 IoT Core devices on Project Rome App for Android device"
Dear friends,

Today I tested with the latest Rome App on Andorid (https://github.com/Microsoft/project-rome/tree/master/Android/sample), and find that my raspberry pi 3 still can't  be shown in the device list.

After some tests, i find that the system type of the IoT device is "Hub" (Not IoT). So, i add this type to the Android Studio Project. However, it still can't work.

Android Hardware: LG

[2018-03-01 11:56] MahdiGhiasi opened #49 "How to make Project Rome on Xamarin (Android) forget about previous auth code?"
I'm adding a "Log out" button into my Xamarin (Android) app which uses Project Rome.

How can I make `Platform` forget about the current authenticated user so it asks for authentication (via `FetchAuthCode` event) again?

[2018-03-31 09:08] hannespreishuber commented on #43
Same here
Java.Lang.UnsatisfiedLinkError: No implementation found for long com.microsoft.connecteddevices.RemoteSystemWatcher.initialize()

with RomeCastSample App- worked some month ago-

[2018-04-25 22:40] bviglietta commented on #33
The background task that hosts a remote app service on Windows gets to run for 30 seconds before the system will terminate it. You can extend its lifetime somewhat by acquiring a [deferral](https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.background.ibackgroundtaskinstance.getdeferral#Windows_ApplicationModel_Background_IBackgroundTaskInstance_GetDeferral), but it's still not inde

[2018-04-25 22:40] #33 closed

[2018-05-03 22:31] cansado2930 opened #51 "Bad request on MS Graph"
Hi,
I have tried to use MS Graph because I wish I use it on Xamarin Forms and... I couldn't get it works. I want to read available devices and send command. I received bad request. Could you tell me some advice in order to implement it? I get the token with the SDK c# that I use in order to get information about account, so the token works. But I don't know what I have been able to do bad…
Thank y

[2018-05-09 16:20] sphenry commented on #51
First of all make, sure you are requesting the right OAuth scopes. Listing and commanding devices requires: 'Device.Read' and 'Device.Command'. Reading and writing activities need 'UserActivity.ReadWrite.CreatedByApp'

A good place to play with the Microsoft Graph APIs is here:
https://developer.microsoft.com/en-us/graph/graph-explorer?request=me/devices&method=GET&version=beta&GraphUrl=https://gr

[2018-05-09 21:47] cansado2930 commented on #51
Thank @sphenry I didn't know the MS Graph explorer, it is very great! with your sample I have found the problem, I set on the url 1.0 instead beta.
Again, very thanks you!!

[2018-05-09 21:47] #51 closed

[2018-05-11 14:07] sonnemaf opened #54 "Can I close a Session for new Participants but keep it open for joined ones?"
Hi,

I'm using Project Rome in my UWP game for Multiplayer turned based game playing. It seems to work OK but I have a question or maybe a feature request.

Can I close a Session for new Participants but keep it open for joined ones? The host can start a game after 1 or more participants have joined the session. When the games is started no extra participants are allowed. If other users try to dis

[2018-05-12 07:58] bezysoftware commented on #16
Any update on this? Still not supported?

[2018-05-15 00:01] cmknox commented on #16
@bezysoftware no, no updates here

[2018-05-15 01:09] #44 closed

[2018-05-15 01:12] miker1423 commented on #48
Hello, I'm having the same problem, I'm signed through the Cortana app on the IoT device, and in my case, I'm using sessions, not just device discovery.
Also, if the session is started on my Desktop, the IoT device can find it, but if I start it on the IoT device, the Desktop cannot find the session.

[2018-05-16 10:10] MahdiGhiasi commented on #49
Is there any timeline for v0.11 SDK being released for Xamarin for Android too? (Currently it's available on Android, but Xamarin for Android is still at v0.8)

[2018-05-16 21:35] cmknox commented on #49
No, we do not have a specific timeframe at this point.  However, it's definitely something we'll be working on soon, so stay tuned!

[2018-05-16 21:50] #37 closed

[2018-05-23 21:07] MahdiGhiasi commented on #44
@miker1423 Windows mobile won't get new builds (RS3+) ever afaik.

[2018-07-04 11:53] revolutionkpi commented on #30
I have just moved to 0.12.0 SDK and it works fine. Thanks.

[2018-07-04 11:53] revolutionkpi commented on #29
I have just moved to 0.12.0 SDK and it works fine. Thanks.

[2018-07-04 11:53] #29 closed

[2018-07-04 11:53] #30 closed

[2018-07-06 20:34] stevehurcombe opened #55 "Support for Azure AD B2C and XF"
Hi,
Just want to record this use case here while this is being actively worked on as I think it's important if you want broad adoption.

I'm currently working on a Xamarin forms app targeting the trinity (iOS, Android & UWP).

I'm using Azure as the backend and in particular Azure AD B2C for authentication. I've added Google as an additional authentication provider, though it could be Facebook as

[2018-07-09 19:52] MahdiGhiasi commented on #49
It's been almost two months now, and Project Rome SDK for Xamarin for Android is still at v0.8. Any news?

[2018-07-11 22:40] cmknox commented on #55
@stevehurcombe first of all, thank you for taking the time to reach out.  This is very much appreciated.  You are correct, as of today our platform requires MSA or AAD account.  I can tell you that we are actively investigating authentication options for our customers.  I can also share that Xamarin is one of the most requested features and development investigations are in progress.

This is very

[2018-07-11 22:42] cmknox commented on #49
Hey thanks for checking back!  We are actively investigating work in this space, so yes progress is being made!  Nothing to announce quite yet, however.  Thanks for checking...

[2018-07-12 08:04] stevehurcombe commented on #55
Thanks @cmknox , I understand the tension between the Windows\Office365 camp and the Azure PaaS camp. You do need to come up with a toolset that harmonises the two because together they form a very powerful toolset that we developers can leverage.

If you don't you will end up with two incompatible toolsets and a lot of angry support issues on all sides.

Good luck resolving that :)

[2018-07-26 13:12] maxqper opened #56 "Can we discover and launch app store on XBOX from iOS/Android app without microsoft/azure login?"
1. Is there a way to discover XBOX on local wifi from iOS/Android without requiring the user to login on mobile app?

We tried to set the right discovery filters including 'anonymous' user but couldn't get this to work.

2. Is there a way to launch the XBOX app store page from iOS/Android without requiring the user to login on mobile app?

--

The use-case here is simply a mobile app that wants to

[2018-08-18 03:17] kbmuri commented on #43
Is there a solution for this?

I have a thoroughly tested UWP app running on Windows 10 in Desktop mode implementing App Services and several thoroughly tested client UWP apps running on same PC communicating very nicely. I extended the App Services code per your instructions to make it work with Connected Devices. Local PC communication is still working fine after these modifications. Am trying t

[2018-08-18 03:26] kbmuri commented on #43
p.s. Your Flux Capacitor is malfunctioning.

![flux capacitor forum](https://user-images.githubusercontent.com/17327534/44295322-a8ff2680-a274-11e8-84cb-378eee24fd44.png)

[2018-10-05 12:41] MahdiGhiasi opened #59 "Getting RemoteSystemUnavailable for PCs running Windows 10 version 1809 when available via proximity."
I'm getting RemoteSystemUnavailable error when trying to connect or launch urls to a PC running 1809, if that PC is available via proximity. (However, when it's not available via proximity and is using cloud, it's fine)

This issue has been [reported by my app's users](https://github.com/MahdiGhiasi/Roamit/issues/20) on Android->Windows and Windows Mobile->Windows scenarios.

And it seems that Win

[2018-10-30 16:10] SeanGahan opened #60 "RemoteSystemSessionCreationStatus.SessionLimitsExceeded"
Not an issue yet; I can't find documentation for the connection limit.  I'd like to use RemoteSystems for messaging on IOT devices in our manufacturing plant, but before I spend a ton of time I'd like to know what the limit is.  Does anyone know what the limit is?

Thanks!

[2018-10-30 20:44] cmknox commented on #56
@maxqper apologies for the delay here.  The user must be logged in on both sides, the app and the PC/Xbox

[2018-10-31 16:59] cmknox commented on #60
@SeanGahan I do not believe there is a connection limit.  The maximum number of sessions that can be hosted is 255.

[2018-10-31 17:15] SeanGahan commented on #60
@cmknox Thanks for the reply!

[2018-10-31 17:15] #60 closed

[2018-11-14 12:40] peted70 opened #61 "Launch browser on Android"
I have a UWP app which I am currently running on a Windows 10 PC using 1803. I can discover a RemoteSystem for my Pixel 2 running Android 9 but when I try to launch a uri on the phone using http

[code]
I get RemoteSystemUnavailable.
Also, if I query capabilities all of them return false.
I am able to use 'continue later' from the phone to the PC.
What's the best way to diagnose this?

[2018-12-18 08:16] revolutionkpi opened #67 "Can we launch installed game on Xbox"
How can we launch previously installed game on Xbox from iOS application?

[2018-12-21 17:42] revolutionkpi opened #68 "Non-public API usage detected by the App Store Team"
I was publishing an app that uses ProjectRomeSdk pod with version 0.12 and got an error from ITunerConnect:

Non-public API usage:

The app references non-public symbols in Frameworks/ConnectedDevices.framework/ConnectedDevices: _getcontext, _makecontext, _setcontext

Could you investigate and fix this issue?

Thanks in advance.

[2018-12-28 10:45] MahdiGhiasi opened #69 "Reliability issues when PC is connected to a VPN network"
I've found out that when my PC is connected to VPN (via SoftEther), it can't receive commands from Project Rome REST APIs. For example, launching urls does not work. The problem persists for some time after disconnecting from VPN, but then returns to normal behavior.

I'm the developer of [Roamit](https://github.com/MahdiGhiasi/Roamit), and this behavior can easily be seen by trying to open a webp

[2019-01-20 22:30] wjvii opened #71 "UWP Sample and Microsoft.ConnectedDevices.UserNotifications.Uwp NuGet"
I downloaded the project-rome-release-0.13.7 samples and when I look at the NuGet packages it says Not available in this source for the nuget package Microsoft.ConnectedDevices.UserNotifications.Uwp. Can someone tell me what package source I need to setup in order to be able to find this package? Thank you in advance.

[2019-01-25 20:49] nathpete-msft commented on #68
Thanks for letting us know about this, and sorry we didn't catch it earlier!
The good news is that this issue should be resolved as of the 0.13.7 release 😄.

Closing, but please re-open if you still happen to hit any similar issues on 0.13.7+.

[2019-01-25 20:49] #68 closed

[2019-01-25 21:01] tadam-msft commented on #69
Sorry for the delay on this, I'll look into this to see if this is a known issue.

[2019-01-25 22:49] tadam-msft commented on #59
I'm seeing this working on the latest builds of Windows, is this still happening for your app?

[2019-01-26 16:09] wonsik-song opened #72 "Build error, because 'Secrets' and ProdClientId' value is not defined in source."
Hi,
I try to build GraphNotificationSample in Window.
But build error occurs, because 'Secrets' and ProdClientId' value is not defined in source.
Anyone can help me to solve this issue.
Thanks

[2019-01-28 19:19] usvoyager commented on #71
Please get the nuget package 'Microsoft.ConnectedDevices.UserNotifications' instead. Sorry for the typo in the sample.

[2019-01-30 20:12] MahdiGhiasi commented on #59
I'm still seeing this on latest updates of Windows 10 version 1809. Have you tested on v1809 or v1903?

[2019-01-30 23:04] bpaliswiat commented on #59
Can you check your Settings->System->Shared experiences and make sure your account doesn't require attention (this would show on the top of that settings page)

[2019-02-01 06:14] tadam-msft commented on #69
This isn't a known issue, we are logging a bug and will investigate.

[2019-02-01 08:38] MahdiGhiasi commented on #69
Thanks you.

It would be great if you could keep me posted about the progress of the bug.

[2019-02-02 10:02] MahdiGhiasi commented on #59
No, it says "All accounts are working correctly."

Please note this bug only appears when Rome API says that the remote device is available locally. (I think network discovery should be on so it can see the device is available in proximity)

I observed this on three different PCs and two different Microsoft accounts, and still can reproduce them from both Android and Windows Phone to my Windows 10

[2019-02-21 22:02] bbowman commented on #72
Closing this since I believe this should work for you. Please reopen if you are still seeing issues building the samples.

[2019-02-21 22:02] #72 closed

[2019-02-21 22:03] bbowman commented on #71
I believe this is resolved with the 1.0.0 samples. Please reopen if you are still having issues building the samples.

[2019-02-21 22:03] #71 closed

[2019-03-18 10:43] revolutionkpi commented on #67
Could we launch previously installed game by title Id ?

[2019-03-19 07:50] revolutionkpi opened #74 "Could not login using iOS example project"
I have run example project from SDKSample. The code in the class IdentityViewController in the block never executes:

So after success authentication to Microsoft account, _transitionToMainViewController method does not execute.

[2019-04-06 16:50] NicolasLourenco commented on #74
I've the same problem.
To correct that, on the func `- (AnyPromise*)signInMsaAsync {`
You need to remove the `return` on `MCDConnectedDevicesPlatform: 468`:
[code]

[2019-04-10 01:11] NicolasLourenco opened #78 "Bitcode support on iOS"
Hi,
I noticed that your SDK don't support the bitcode.
Is it possible to plan the support on the iOS SDK?

Thanks

[2019-05-08 02:08] yajiex opened #79 "Where can I get dSYM for iOS binary?"

[2019-06-24 20:03] cmknox commented on #78
Hi @NicolasLourenco thanks for the message.  It is definitely on our backlog, but no ETA at the moment.

[2019-06-24 20:04] cmknox commented on #79
Hi @yajiex,

Since we are not an OSS project we do not have public symbols as a result.

[2019-07-18 13:53] bpawluk opened #82 "Can't connect to discovered Xbox machines"
I am trying to send messages between an UWP desktop app and an app service running on Xbox One. The RemoteSystemWatcher is able to discover Xbox One machines, but any attempt of opening a connection with them ends up with the RemoteSystemUnavaiable AppServiceConnectionStatus.

I got this result every time on mutiple Xbox One machines with 10.0.18362.5047 Windows OS. Analogous communication attempt

[2019-07-18 17:06] Infraton11 commented on #82
Developer disable for accessibility route c#/c## landscaping(scaffolding?)

On Thu, Jul 18, 2019, 9:53 AM Bartosz Pawluk <notifications@github.com>
wrote:

[2019-07-19 10:21] bpawluk commented on #82
It turns out that the problem is that the app service provider is an multi-user application. Is it possible to succesfully communicate with such app service remotely using AppServiceConnection?

[2019-07-22 17:23] cmknox commented on #82
Hey @bpawluk, unfortunately no, the App Service APIs are intended to be used with a single user.

[2019-07-22 17:24] #79 closed

[2019-07-22 17:25] #78 closed

[2019-08-02 04:10] wenchaotao opened #83 "Can't find NearShareReceiver"
I am trying to use the sample code in nearsharestandalone project, looks like the SDK currently only has the API for the sender (ie. NearShareSender). Does anyone know if and when a receiver API (ie. NearShareReceiver) will be available? Thanks.

[2019-10-01 17:13] xingrz opened #85 "NearShare sample crashed after send completed"
Version: `com.microsoft.connecteddevices:connecteddevices-sdk:1.5.0`

Log:
[code]

Inspecting the `NearShareSenderEnumAsyncOperation` class, there's only a method `void complete(int value)`. Not anything like `void complete(int value, String foo)`.

[2019-10-02 20:25] cmknox commented on #85
@xingrz Thank you for the information.  I've created a bug and we will be investigating.

[2019-10-02 20:27] cmknox commented on #83
@wenchaotao Currently the Nearby Share APIs only work in one direction, from Android to Windows.  Android cannot be a receiver of the shared content.

[2019-10-02 20:36] wenchaotao commented on #83
Is there any plan to add the receiver API, and estimated timeline if there is?

[2019-10-03 21:52] cmknox commented on #83
@wenchaotao It is currently on the backlog, but not actively being developed.

[2020-01-13 13:33] artemious7 commented on #83
hello. any update on this?

[2020-03-18 10:55] sairaj999 opened #86 "Can any one help me out what are the testing techniques available for Rome?"

[2022-01-18 20:29] michaelsergienko opened #89 "MCDConnectedDevicesAccountAddedStatusErrorServiceFailed error"
We are getting "MCDConnectedDevicesAccountAddedStatusErrorServiceFailed" code in `- (AnyPromise*)prepareAccountAsync:(ConnectedDevicesPlatformManager*)platformManager` method after success sign in with Microsoft account.
From the documentation: https://docs.microsoft.com/en-us/windows/project-rome/objectivec-api/connecteddevices/mcdconnecteddevicesaccountaddedstatus

this means "The account operat

[2022-01-18 20:29] #89 closed

[2022-01-18 20:31] revolutionkpi opened #90 "MCDConnectedDevicesAccountAddedStatusErrorServiceFailed code after Sign in"
We are getting "MCDConnectedDevicesAccountAddedStatusErrorServiceFailed" code in - (AnyPromise*)prepareAccountAsync:(ConnectedDevicesPlatformManager*)platformManager method after success sign in with Microsoft account.
From the documentation: https://docs.microsoft.com/en-us/windows/project-rome/objectivec-api/connecteddevices/mcdconnecteddevicesaccountaddedstatus

this means "The account operatio

[2022-01-22 12:26] revolutionkpi commented on #90
@cmknox Could you please help with this ?

[2022-02-07 10:58] mediaexplorer74 opened #91 "Seems this examples nit operable at 2022 year..."
Hi!
Did you tested your Project Rome code at modern times?
UWP apps Don t allowed any device connections. Graph api seems to be unactual. Windows 11 does not heave TimeLine features, etc. And where is whole Xamarim sample? You deleted this branch.  :(

[2022-02-07 11:02] mediaexplorer74 commented on #82
Hi.
Please test App Service APIs minimum at a single user mode: sender and receiver.... And please give some real pictures or videos about success

[2022-02-07 11:13] mediaexplorer74 commented on #61
Hi. Are you working at Microsoft at now or no? What is the status of this project, after 3 years of fixing this open issue?... ;)

[2022-02-07 11:17] mediaexplorer74 commented on #49
Hi. I noticed that Xamarin folder (branch) at Project Rome was deleted... Do you have some starter app? Please share any simple X app that simply sends Hello from sender to receiver :)

[2022-02-07 12:20] peted70 commented on #61
I am still working at MSFT but have forgotten the details of this issue now since a few years has passed.

[2022-02-07 19:55] mediaexplorer74 commented on #61
Thank you for reply. Perhaps, Project Rome not too easy thing for reanimation.... There are many technical problems... The program managers are silent :( Sorry that I disturbed you.

[2022-03-17 19:19] ShortDevelopment commented on #85
I'm currently experiencing the same bug with version 1.6.1 (Using a Xamarin.Android binding created from the `aar` file)

[code]

[2022-05-18 23:45] stevennyman commented on #83
It would be helpful to include this in the docs somewhere as this is not clear from the current documentation.

[2022-10-29 10:31] ShortDevelopment commented on #83
@cmknox
I’m currently trying to implement the `MS-CDP` protocol myself, as it’s documented [here](https://learn.microsoft.com/en-us/openspecs/windows_protocols/ms-cdp/).
My problem is, that the documentation is not really accurate in some places (e.g. secret pre- /append for key derivation).

It’ especially lacking any explanation about how to setup the Host-Client-Channel and the involved message